<app-header title="Grid Layout"></app-header>

<ion-content class="ion-padding" fullscreen>
  <ion-grid fixed="true">
    <ion-row>
      <ion-col
        size="12"
        size-sm="6"
        size-md="4"
        size-lg="3"
        *ngFor=" let item of [1,1,1,1,1,1,1,1,1,1,1,1,1,1]">
        <ion-card>
          <ion-img src="/assets/avatar.jpg"></ion-img>
          <ion-card-header>
            <ion-card-title>What is Lorem Ipsum?</ion-card-title>
            <ion-card-subtitle>Where does it come from?</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
