<app-header title="CheckBox"></app-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of data" (click)="onClick(item)">
      <ion-label class="ion-text-capitalize">{{item.name}}</ion-label>
      <ion-checkbox slot="end"
                    [color]="item.name"
                    [(ngModel)]="item.selected"
      ></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="onReaData()" color="primary">Read Data</ion-button>

</ion-content>
