<app-header title="Order List"></app-header>

<ion-content>
  <ion-list>
    <ion-reorder-group [disabled]="reorder" (ionItemReorder)="doReorder($event)" >
      <ion-item *ngFor="let person of persons">
        <ion-label>{{person}}</ion-label>
        <ion-reorder slot="end">
          <ion-icon name="reorder-four-outline"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <ion-button expand="block"
              class="Primary ion-margin-top"
              (click)="onToggle()"
  >
    Toggle
  </ion-button>

</ion-content>
