<ion-header class="ion-no-border" translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="Regresar"
        color="primary"
        mode="ios"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize ">Segments</ion-title>
  </ion-toolbar>
  <ion-segment scrollable value="" (ionChange)="segmentChanged($event)" color="primary">
    <ion-segment-button *ngFor="let segment of menuData" [value]="segment.value" >
      <ion-label>{{segment.name}}</ion-label>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
<!--  <ion-segment>-->
<!--    <ion-segment-button value="friends">-->
<!--      <ion-label>Friends</ion-label>-->
<!--    </ion-segment-button>-->
<!--    <ion-segment-button value="enemies">-->
<!--      <ion-label>Enemies</ion-label>-->
<!--    </ion-segment-button>-->
<!--  </ion-segment>-->


  <ion-list *ngFor="let heroe of (dataHeroe | async) | filterHeroe : publisher : 'publisher'" >
    <ion-item>
      <ion-label>
        <h3>{{heroe.superhero }}</h3>
      <p>{{heroe.first_appearance}}</p>
      </ion-label>
      <ion-label slot="end">
        {{heroe.publisher}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
