<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="showMenu()">
        <ion-icon slot="start" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item detail *ngFor="let nav of components | async" [routerLink]="nav.redirectTo" >
      <ion-icon [name]="nav.icon" slot="start" color="primary"></ion-icon>
      <ion-label>{{nav.name}}</ion-label>
    </ion-item>
  </ion-list>

<!--  <ion-button routerLink="/alert">Alert</ion-button>
  <ion-button routerLink="/actions-sheet">Action</ion-button>-->

</ion-content>
