<app-header [title]="name || 'Inputs Form'"></app-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-list-header>
      <ion-label>Input normal</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Name: </ion-label>
      <ion-input type="text" placeholder="Enter Input" [(ngModel)]="name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Floating Label</ion-label>
      <ion-input></ion-input>
    </ion-item>
  </ion-list>

  <form #form="ngForm" (ngSubmit)="onSubmit(form)"  >
    <ion-list-header>
      <ion-label>Form Validate {{form.valid}}</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input type="email"
                 name="email"
                 [(ngModel)]="user.email"
                 pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                 placeholder="Email"
                 required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input
        type="password"
        name="password"
        placeholder="Password"
        required
        [(ngModel)]="user.password"
      ></ion-input>
    </ion-item>
    <ion-button type="submit" [disabled]="form.invalid" expand="block" >Login</ion-button>
  </form>

</ion-content>
