<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/"
        text="Regresar"
        color="primary"
        mode="ios"
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">search</ion-title>
  </ion-toolbar>
  <ion-searchbar
    placeholder="Search Album..."
    inputmode="text"
    animated
    (ionChange)="onSearch($event)"
    [debounce]="250"
  ></ion-searchbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let album of  albums | filter: textSearch : 'title'">
      <ion-label class="ion-text-capitalize">{{album.title}}</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
