<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="account">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="contact">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>Contact</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="settings">
        <ion-icon name="construct-outline"></ion-icon>
        <ion-label>Settings</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>

