<app-header title="Alert"></app-header>
<ion-content>
  <ion-button expand="block"  (click)="onClick()">Alert</ion-button>
  <ion-button expand="block"  (click)="onClickAlertMultipleButtons()">Alert 2</ion-button>
  <ion-button expand="block"  (click)="onClickAlertConfirm()">Alert 3</ion-button>
  <ion-button expand="block"  (click)="onClickPresentAlertPrompt()">Alert 4</ion-button>
  <ion-button expand="block"  (click)="onClickPresentAlertRadio()">Alert 5</ion-button>
  <ion-button expand="block"  (click)="onClickPresentAlertCheckbox()">Alert 6</ion-button>

</ion-content>
