<ion-app>
  <ion-split-pane when="md" contentId="main">
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-menu-toggle
          *ngFor="let nav of menuItems | async"
          autoHide="false">
        <ion-item [routerLink]="nav.redirectTo" detail  >
          <ion-icon [name]="nav.icon" slot="start" color="primary"></ion-icon>
          <ion-label>{{nav.name}}</ion-label>
        </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
