<app-header title="Progress Bar"></app-header>

<ion-content class="ion-padding">
  <!-- Default Progressbar -->
  <ion-progress-bar type="determinate" [value]="percentage" color="primary"></ion-progress-bar>
  <ion-list>
    <ion-item>
      <ion-range min="0" max="100" (ionChange)="rangeChange($event)" >
        <ion-icon size="small" slot="start" name="sunny"></ion-icon>
        <ion-icon slot="end" name="sunny"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>


</ion-content>
