<app-header title="skeleton"></app-header>

<ion-content>

 <ion-list *ngFor="let heroe of (dataHeroe | async) | filterHeroe : publisher : 'publisher'" >
    <ion-item>
      <ion-label>
        <h3>{{heroe.superhero }}</h3>
        <p>{{heroe.first_appearance}}</p>
      </ion-label>
      <ion-label slot="end">
        {{heroe.publisher}}
      </ion-label>
    </ion-item>
  </ion-list>


  <div *ngIf="(dataHeroe | async) === null"
       class="animate__animated animate__fadeIn animate__faster">
    <ion-list>
      <ion-item *ngFor="let item of loaderSkeleton">
        <ion-label>
        <ion-row>
          <ion-col size="8">
              <h3>
                <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
              </h3>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
          </ion-col>
          <ion-col>
              <p>
                <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
              </p>
              <p>
                <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
              </p>
          </ion-col>
        </ion-row>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
