<app-header title="Lista"></app-header>

<ion-content>

  <!--<ion-list>
    <ion-item *ngFor="let list of dataUser">
      <ion-label>{{list.name}}</ion-label>
    </ion-item>
  </ion-list>-->

  <ion-list #ionList>
    <ion-item-sliding *ngFor="let list of dataUser">
      <ion-item-options side="start">
        <ion-item-option (click)="favorite(list)">
          <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" (click)="share(list)">
          <ion-icon slot="icon-only" name="share-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item>
        <ion-label>
          <h3>{{list.name}}</h3>
          <p>{{list.username}}</p>
        </ion-label>
        <ion-label slot="end" class="ion-text-end text-small-later">{{list.email}}</ion-label>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="secondary"  (click)="delete(list)">
          <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>


</ion-content>
