<app-header title="Date Time"></app-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      <ion-label>Datos Nacimiento</ion-label>
    </ion-list-header>
    <ion-item>
        <ion-label>Fecha Nacimiento</ion-label>
        <ion-datetime
          [value]="dateNac.toISOString()"
          display-format="DD MMMM YYYY"
          (ionChange)="changeDate($event)"
        ></ion-datetime>
    </ion-item>
    <ion-list-header>
      <ion-label>Restricciones</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Min - Max</ion-label>
      <ion-datetime
        display-format="DD MMMM YYYY"
        min="2015-01-01"
        max="2025-12-01"
      ></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-tabs>Custom Options</ion-tabs>
      <ion-datetime [pickerOptions]="customPickerOptions" [yearValues]="customYearValues" ></ion-datetime>
    </ion-item>


  </ion-list>

</ion-content>
