<ion-content>
  <ion-slides pager="ios" class="slide-full"  [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides" >
      <ion-card mode="ios">
        <img [src]="slide.img" class="slide-image" [alt]="slide.title" />
        <ion-card-header>
          <ion-card-subtitle>{{slide.title}}</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
         {{slide.desc}}
        </ion-card-content>
      </ion-card>
    </ion-slide>
    <ion-slide>
      <ion-button (click)="onBack()"
                  expand="block"
                  fill="clear">
        Back
      </ion-button>
    </ion-slide>
  </ion-slides>
</ion-content>
