<app-header title="Toast"></app-header>

<ion-content class="ion-padding">
  <ion-button
    (click)="presentToast()"
    expand="block"
    color="primary"
  > Click Present Toast
  </ion-button>

  <ion-button
    (click)="presentToastWithOptions()"
    expand="block"
    color="secondary"
  > Click Options
  </ion-button>
</ion-content>
