<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-capitalize">{{name}} - {{city}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-button
  (click)="exitModal()"
  expand="block"
  color="secondary"
  >Exit Modal</ion-button>
  <ion-button
    (click)="exitModalParameter()"
    expand="block"
    color="warning"
  >Exit Modal Parameter</ion-button>


</ion-content>
